
<div class="container">
    <div class="row p-3 border">
        <div class="col-12 d-flex justify-content-center">
            <section>
                <div class="fw-bolder d-flex justify-content-center p-2">Generar reportes</div>
                <div class="example-button-row">
                  <button mat-raised-button (click)="eventReporteVentas()">Reporte por ventas</button>
                  <button mat-raised-button color="primary" (click)="eventReportePagosCliente()">Reporte de pagos</button>
                  <button mat-raised-button color="accent">Pagos de clientes</button>
                  <button mat-raised-button color="warn">Warn</button>
                  <button mat-raised-button disabled>Disabled</button>
                  <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a>
                </div>
              </section>
        </div>
    </div>

    <div class="row border">
        <app-fechas-venta></app-fechas-venta>
    </div>
</div>
