<div class="container-fluid p-3">
    <div class="row">
      <div #datosPagos>
        <h2>Pago realizado por 13</h2>
        <table class="table table-bordered mt-4">
          <tr class="table-primary">
            <th>Cliente</th>     
            <th> 
              {{ iDTOPagoReporte.venta.cliente.persona.nombrePersona }} 
              {{ iDTOPagoReporte.venta.cliente.persona.paternoPersona }} 
              {{ iDTOPagoReporte.venta.cliente.persona.maternoPersona }} 
           
            </th>  
          </tr>

          <tr>
            <th>Pago</th>     
            <th>Fecha</th>  
          </tr>

          <tr *ngFor="let item of example">
            <td>{{item.pago}}</td>
            <td>{{item.fechaPago}}</td>
 
          </tr>

  
        </table>
      </div>
    </div>
  </div>
<div class="row">
    <div class="col-12 d-flex justify-content-end">
        <button mat-raised-button color="warn" class="col-4" (click)="pdf2();">Generar reporte</button>
    </div>
</div>
