
<div class="container-fluid p-3">
    <div class="row">
      <div id="htmlData">
        <h2>Pago realizado por {{ dtoPagoReporte.nombreCliente }}</h2>
        <table class="table table-bordered mt-4">
          <tr class="table-primary">
            <th>Cliente</th>
            <th>Total de la venta</th>
            <th>Realizó un pago de</th>
            <th>Fecha de pagos</th>
            <th>Total de pagos</th>
            <th>Adeudo</th>
            
          </tr>
          <tr>
            <th>{{ dtoPagoReporte.nombreCliente }}</th>
            <td>{{ dtoPagoReporte.totalVenta | currency }}</td>
            <td>{{ dtoPagoReporte.pagoRealizado | currency }}</td>
            <td>{{ dtoPagoReporte.fechaDeposito | date:'medium' }}</td>
            <td>{{ dtoPagoReporte.totalPagos | currency }}</td>
            <td>{{ dtoPagoReporte.adeudo | currency }}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
<div class="row">
    <div class="col-12 d-flex justify-content-end">
        <button mat-raised-button color="warn" class="col-4" (click)="pdf();">Generar reporte</button>
    </div>
</div>