<div class="row p-3 text-center ">
    <div class="col-6">
        <div class="form-group">
            <label for="nombrePersona" class="">Nombre</label>
            <input type="text" class="form-control" name="nombrePersona" id="nombrePersona"
                placeholder="Ingrese nombre persona" [(ngModel)]="cliente.cliente.persona.nombrePersona" required [disabled]="diabledInputClientePersona">
            <div class="alert alert-info" *ngIf="validarnombre">
                Por favor ingrese su nombre
            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="form-group">
            <label for="telefonopersona">Teléfono</label>
            <input type="number" class="form-control" name="telefonoPersona" id="telefonopersona"
                placeholder="Ingrese su teléfono" [(ngModel)]="cliente.cliente.persona.telefonoPersona" required [disabled]="diabledInputClientePersona">
            <div class="alert alert-info" *ngIf="validartelefono">
                Por favor ingrese su teléfono
            </div>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-6">
        <div class="form-group">
            <label for="paterno">Apellido paterno</label>
            <input type="text" class="form-control" name="paternoPersona" id="paterno" placeholder="Ingrese su paterno" [disabled]="diabledInputClientePersona"
                [(ngModel)]="cliente.cliente.persona.paternoPersona" required>

            <div class="alert alert-info" *ngIf="validarpaterno">
                Por favor ingrese su apellido paterno
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="form-group">
            <label for="materno">Apellido pmterno</label>
            <input type="text" class="form-control" name="maternoPersona" id="materno" placeholder="Ingrese su materno" [disabled]="diabledInputClientePersona"
                [(ngModel)]="cliente.cliente.persona.maternoPersona" required>

            <div class="alert alert-info" *ngIf="validarmaterno">
                Por favor ingrese su apellido materno
            </div>
        </div>
    </div>
</div>


<!-- <div class="row">
   
                            <div *ngIf="!mostrarTemplate; else elseBlock">
                                <div class="col-6 d-flex justify-content-center align-items-center">
                                    <button class="btn btn-secondary col-12 "> Guardar empleado</button>
                                </div>
                            </div>

                            <div *ngIf="mensajeEditar">
                                <div class="alert alert-warning" role="alert">
                                    Se edito correctamente
                                  </div>
                            </div>

                        </div> -->





<div class="row" *ngIf="chechVenta">
    <div class="col-6">
        <button *ngIf="seguimos" (click)="cancelarSeguimos()" class="btn btn-danger">cancelar</button>
    </div>
    <div class="col-2">
        <label *ngIf="seguimos" class="form-check-label d-flex justify-content-end d-flex align-items-center" for="defaultCheck1">
            Listo
        </label>
    </div>
    <div class="col-4">
        <button class="btn btn-success" [disabled]="seguimos" (click)="seguimosVenta()">Seguimos</button>
    </div>
</div>





<ng-template #elseBlock>

    <div class="alert alert-dark" role="alert" *ngIf="btnMensaje">
        Por favor espere, se está guardando ...
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    </div>

    <div class="col-6 d-flex justify-content-end align-items-center">

        <button class="btn btn-secondary" [disabled]="btnMensaje" (click)="agregarCliente();">
            Guardar
        </button>
    </div>

    <div class="alert alert-info" *ngIf="btnMensajeAgregar" role="alert">
        Se agregó correctamente
    </div>


</ng-template>