<div class="row p-3">
    <div class="col-6">
        <div class="card">
            <div class="card-header">
                <h3 class="text-center fw-bolder"> Venta</h3>
            </div>
            <div class="card-body text-center fw-bolder">
                <form class="needs-validation" novalidate>
                    

                    <fieldset class='border' style="background-color:  #e0d8d6  ">

                        <div class="row p-2">
                            <div class="col-5">
                                <label for="atiende" class="">Usuario que lo atiende</label>
                            </div>
                            <div class="col-7">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="atiende" name="UsuarioAtiende" value="{{ usuEjemplo}}" readonly>
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <p class="text-center">
                                    Si el cliente ya esta registrado seleccione si
                                </p>
                            </div>
                        </div>
                        
                        <div class="row p-3">
                            <div class="col-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="radio" (change)="radioSelected($event);"  id="exampleRadios1" value="option1" checked>
                                    <label class="form-check-label" for="exampleRadios1">
                                      Si
                                    </label>
                                  </div>

                            </div>
                            <div class="col-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="radio" (change)="radioUnSelected($event);"   id="exampleRadios2" >
                                    <label class="form-check-label" for="exampleRadios2">
                                        No
                                    </label>
                                  </div>
                            </div>
                        </div>


                        <div class="row p-3" *ngIf="radio">
                            <div class="col-5">
                                <label for="lblCliente">Cliente</label>
                            </div>
                            <div class="col-7">
                                <div class="ng-autocomplete col-12 d-flex">
                                    <ng-autocomplete #auto
                                        
                                        [data]="datosCliente" 
                                        [searchKeyword]="keyword"
                                        placeholder="Ingrese nombre del cliente" 
                                        (selected)='selectEvent($event)'
                                        
                                        (inputChanged)='onChangeSearch($event)' 
                                        (inputFocused)='onFocused($event)'
                                        [itemTemplate]="itemTemplate" 
                                        [notFoundTemplate]="notFoundTemplate"
                                        requiered>
                                        <div class="invalid-feedback">
                                            Por favor ingrese el nombre
                                        </div>
                                    </ng-autocomplete>
                                    <p> {{ ex }} </p>

                                    <ng-template #itemTemplate let-item>
                                        <a [innerHTML]="item.nombrePersona"></a>
                                    </ng-template>

                                    <ng-template #notFoundTemplate let-notFound>
                                        <div [innerHTML]="notFound"></div>
                                    </ng-template>
                                </div>

                            </div>

                        </div>

                  
 

                        <div class="row p-3">
                            <div class="col-5">
                                <label for="totalVenta">Total</label>
                            </div>
                            <div class="col-7">
                                <div class="form-group">

                                    <input type="text" class="form-control mx-auto text-center" id="totalVenta" 
                                    
                                        value="{{ totalVentaMostrar }}"  readonly>
                                </div>
                            </div>
                        </div>
      

                        <div class="row">
                            <div class="col-5">
                                <label for="lblPagoCon">Pagó con</label>
                            </div>
                            <div class="col-7">

                                <div class="form-group">

                                    <input type="number" #valor class="form-control text-center" id="lblPagoCon" 
                                    (keyup)="onKey(valor.value)"
                                    (change)="changeValue(valor.value)"
                                        placeholder="Ingrese el pago" name="pago" required [(ngModel)]="pago">
                                    <div class="invalid-feedback">
                                        Por favor ingrese el pago
                                    </div>
                                </div>


                            </div>
                        </div>

                        <div class="row">
                            <div class="col-5">
                                <label for="lblCambio">Cambio</label>
                            </div>
                            <div class="col-7">
                                <div class="form-group">

                                    <input type="number" value="{{ cambioVenta }}" class="form-control text-center" id="lblCambio" readonly
                                        name="">
                                </div>
                            </div>
                        </div>


                        <div class="row p-2">
                            <div class="col-12 d-flex justify-content-end">
                                <button [disabled]="disabledPagar" class="btn btn-secondary col-6" (click)="agregarVenta()"> 
                                    <span *ngIf="disabledPagar" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>    Pagar
                                </button>
                 

                            </div>
                        </div>

                    </fieldset>
                </form>

                <div class="row" *ngIf="showMessage">
                    <div class="col-12">
                        <div class="alert alert-danger text-justify" role="alert">
                            El pago debe ser mayor a 0
                          </div>
                    </div>
                </div>

                <div class="row" *ngIf="showMessageRespuesta">
                    <div class="col-12">
                        <div class="alert alert-danger text-justify" role="alert">
                            <p class="text-center" id="resp"> {{ mensajesErrorSave }} </p>
                          </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-6" >
        <div class="row">
            <div class="col-12">
                <app-agregar-persona *ngIf="!radio"></app-agregar-persona>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <app-agregar-direccion></app-agregar-direccion>
            </div>
        </div>

    </div>
</div>

