<div class="container-fluid p-3">
    <div class="row">
      <div #datosPagos>
        <h2>Pago realizado por  {{ datosPagosPagosCliente.venta.cliente.persona.nombrePersona }}</h2>
        <table class="table table-bordered mt-4">
          <tr class="table-primary">
            <th>Cliente</th>
            <th>
              {{ datosPagosPagosCliente.venta.cliente.persona.nombrePersona }}
              {{ datosPagosPagosCliente.venta.cliente.persona.paternoPersona }}
              {{ datosPagosPagosCliente.venta.cliente.persona.maternoPersona }}
            </th>
          </tr>

          <tr>
            <th>Pago</th>
            <th>Fecha de Pago</th>
          </tr>
          <tr *ngFor="let item of example">
            
            <td>{{ item.pago | currency }}</td>
            <td>{{ item.fechaPago | date:'medium' }}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
<div class="row">

    <div class="col-6 d-flex justify-content-center">
        <button mat-raised-button color="warn" class="col-4" (click)="cancelarReportePagos();" >
            Cancelar
        </button>
    </div>
    <div class="col-6 d-flex justify-content-start">
        <button mat-raised-button color="warn" class="col-4" (click)="pdf();" [disabled]="spinnerReporte">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="spinnerReporte"></span>
            Generar reporte
        </button>
    </div>

</div>
