<div class="col-6 offset-3 mt-3">
    <div class="card">
        <div class="head-card bg-danger">
            <p class="text-center fs-4 fw-bold pt-2">Alta de producto</p>
        </div>
        <div class="card-body">
            <form class="needs-validation" novalidate>
                <legend class="text-center fw-bolder fs-5">Datos del producto</legend>

                <fieldset class='border' style="background-color:  #e0d8d6  ">

                    <div class="row p-2">
                        <div class="col-6">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="NomPorudcto" placeholder="" name="nombreProducto" [(ngModel)]="producto.nombreProducto" required>
                                <label for="NomPorudcto">Nombre del producto</label>
                            </div>
                            <div class="invalid-feedback">
                               Por favor ingrese el nombre
                              </div>
                        </div>
                        <div class="col-6">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="CodBarra" placeholder="" name="codigo_Barras_Producto" [(ngModel)]='producto.codigoBarrasProducto' required>
                                <label for="CodBarra">Código de barra</label>
                            </div>
                            <div class="invalid-feedback">
                                Por favor ingrese el nombre
                               </div>
                        </div>
                    </div>

                    <div class="row p-2">
                        <div class="col-6">
                            <div class="form-floating">
                                <textarea class="form-control" placeholder="" id="DescProducto" name="descripcion_Producto" style="height: 100px" [(ngModel)]='producto.descripcionProducto' required></textarea>
                                <label for="DescProducto">Descripción</label>
                            </div>
                            <div class="invalid-feedback">
                                Por favor ingrese el nombre
                               </div>
                        </div>
                        <div class="col-6">
                            <div class="form-floating">
                                <textarea class="form-control" placeholder="" id="CaracProducto" name="caracteristicas_Producto" style="height: 100px" [(ngModel)]='producto.caracteristicasProducto' required></textarea>
                                <label for="CaracProducto">Caracteristicas</label>
                            </div>
                            <div class="invalid-feedback">
                                Por favor ingrese el nombre
                               </div>
                        </div>


                    </div>

                    <div class="row p-2">
                        <div class="col-6">
                            <div class="form-floating mb-3">
                                <input type="number" min="1" class="form-control" id="ExistProducto" name="existencia_Producto" placeholder="" [(ngModel)]='producto.existenciaProducto' required>
                                <label for="ExistProducto">Existencia</label>
                                <div class="invalid-feedback">
                                    Por favor ingrese las existencias
                                   </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-floating mb-3">
                                <input type="number" min="1"  class="form-control" id="precio_Producto" name="precio_Producto" placeholder="" [(ngModel)]='producto.precioProducto' required>
                                <label for="precio_Producto">Marca del producto</label>
                            </div>
                            <div class="invalid-feedback">
                                Por favor ingrese el precio
                            </div>
                        </div>
                    </div>

                    <div class="row p-2">

                        <div class="col-6">
                            
                                <div class="ng-autocomplete col-12">
                                    <ng-autocomplete
                                      [data]="datosProveedores"
                                      [searchKeyword]="keyword"
                                      placeholder = "Ingrese nombre del proveedor"
                                      (selected)='selectEvent($event)'
                                    (inputChanged)='onChangeSearch($event)'
                                    (inputFocused)='onFocused($event)'
                                      [itemTemplate]="itemTemplate"
                                      [notFoundTemplate]="notFoundTemplate"
                                      [disabled]="disa"
                                      
                                      >                                 
                                    </ng-autocomplete>
                                    
                                    <ng-template #itemTemplate let-item>
                                    <a [innerHTML]="item.nombreProveedor"></a>
                                    </ng-template>
                                    
                                    <ng-template #notFoundTemplate let-notFound>
                                    <div [innerHTML]="notFound"></div>
                                    </ng-template>
                                    </div>
                                    <div class="invalid-feedback">
                                        Por favor ingrese el nombre
                                       </div>
                            
                        </div>

                        
                    </div>

                <div class="row p-3">
                    <div class="col-6 d-flex justify-content-center d-flex align-items-center">
                        <p class="text-sm-justify"> Si no encuentra al proveeder agrege uno nuevo pulsando aqui</p>
                        <div class="form-group">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" (change)="changeS($event)" value="true">
                                <label class="form-check-label" for="exampleRadios1">
                                 Si
                                </label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" (change)="changeS($event)" #checkfalse  value="false" checked>
                                <label class="form-check-label" for="exampleRadios2">
                                  No
                                </label>
                              </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="lblNomProveedor">Ingrese nuevo proveedor</label>
                            <input type="text" [disabled]="!disa"  class="form-control" id="lblNomProveedor" name="nombreProveedor"  [(ngModel)]="producto.nombreProveedor" placeholder="Nuevo proveedor">
                        </div>
                    </div>
                </div>

                <div class="row p-2">
                    <div class="col-6 d-flex justify-content-center d-flex align-items-center">
                        <button class="btn btn-secondary" (click)="eventAgregarProducto()" >agregar</button>
                    </div>
                    <div class="col-6"></div>
                </div>

                </fieldset>
            </form>
        </div>
    </div>
</div>




