<div class="col-6 offset-3 mt-3">
    <div class="card">
        <div class="head-card bg-danger">
            <p class="text-center fs-4 fw-bold pt-2">Alta de proveedor</p>
        </div>
        <div class="card-body">
            <form action="">
                <legend class="text-center fw-bolder fs-5">Datos del producto</legend>

                <fieldset class='border' style="background-color:  #e0d8d6  ">

                    <div class="row p-2">
                        <div class="col-12">
                            <div class="form-group">
                                <label for="nombreProveedor"></label>
                                <input type="text" class="form-control" id="" placeholder="">
                            </div>
                        </div>

                    </div>

                </fieldset>
            </form>
        </div>
    </div>
</div>
